<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    Mikel Urdangarin - AZALPENA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center">
    <div
      style="
        display: flex;
        justify-content: center;
        width: 700px;
        border: solid;
        border-radius: 10px;
        margin-top: 100px;
        padding: 40px;
      "
    >
      <h3>
        Zuetako nork daki nor den Mikel Urdangarin? Mikel Urdangarin, Zornotzan
        jaiotako abeslaria da. 1971ko azaroaren 30ean jaio zen.<br /><br />
        Mikelek, magisteritza ikasi zuen eta Gasteizen irakaslea izan zen. Nahiz
        eta gaur egun musikaria izan, ba al dakizue bertsolari bezala hasi
        zela?<br><br>
        . Bere abestietako letretan, Euskal Herriko arazo sozial eta
        politikoez hitz egiten du. Ziur aski bere abestiren bat entzunda
        duzuela! Honako hauek dira bere abesti ezagunenak: Badira hiru aste, Non
        geratzen den denbora, Itsasoan eurian, Anek idatzi dit zutaz eta
        Errefuxiatuena.
      </h3>
    </div>
  </div>
</ion-content>
<ion-footer class="foot">
  <a href="../tabs/tab4-jokua"> <button id="jarraitu">JARRAITU</button></a>
</ion-footer>
