<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    Nagelen eskultura - JOKUA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center">
    <div
      style="
        display: flex;
        justify-content: center;
        height: 700px;
        width: 700px;
        margin-top: 50px;
        border: solid;
      "
    >
      <p>PUZZLE BAT EGONGO DA HEMEN</p>
    </div>
  </div>
</ion-content>
<ion-footer class="foot"> </ion-footer>
