<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
  Haizetara
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center;width: 700px;border:solid; border-radius: 10px; margin-top:100px; padding:40px" >
      <h3>
      Audioa
      </h3>
    </div>
  </div>
</ion-content>
<ion-footer class="foot">
  <a href="../tabs/tab8-jokua"> <button id="jarraitu">JARRAITU</button></a>
</ion-footer>