<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    Lara Izaguirre - BUKAERA IDATZI
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center;width: 700px;margin-top:100px;" >
     <input type="text" style="height: 200px; width:500px">
    </div>
  </div>
</ion-content>
<ion-footer class="foot">

</ion-footer>