<ion-header [translucent]="true" class="head">
    
  <h3 style="color: white; font-family:'Times New Roman', Times, serif; font-style:bold">Nagelen eskultura</h3>     
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div style="display: flex; justify-content: center;margin-top:400px">
    <img style="height: 200px" src="../../assets/Img/hontza.png" />
  </div>
</ion-content>
<ion-footer class="foot">
  <a href="../tabs/tab3-azalpena"> <button id="jarraitu">JARRAITU</button></a>
</ion-footer>
