<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    Andres Espinosa - AZALPENA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center;width: 700px;border:solid; border-radius: 10px; margin-top:100px; padding:40px" >
      <h3>
        Andres Espinosa, zuek bezalako Euskal mendizale eta abenturazalea izan zen.
        Ba al dakizue berak bakarrik Mont Blanc-era eta Kilimanjarora igotzea lortu zuen lehen gizakia izan zela? Hau, 1929 eta 1930 urte artean lortu zuen.<br><br><br>
        
        Eta ez hori bakarrik!, Himalayako mendikatera joan zen lehenengo euskal mendizalea izan zen ere. Eta hori guztia oso baliabide gutxirekin egin zuen.<br><br><br>
        
        Gainera, Andres Espinosa hainbat mendi-elkarteko kide izan zen, baina, batez ere, bere jatorrizko herriari lotuta sentitu zen: Amorebieta Kirol Elkarteari. 1925eko martxoan sartu zen elkarte horretan, eta badakizue, 1928 eta 1930 artean, elkarteko buru izan zela?</h3>
    </div>
  </div>
</ion-content>
<ion-footer class="foot">
  <a href="../tabs/tab2-jokua"> <button id="jarraitu">JARRAITU</button></a>
</ion-footer>
