<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    Mikel Urdangarin - HUTSUNEAK BETE
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style=" justify-content:center">
    <div
      style="
      display: flex; flex-direction:column;
        justify-content: center;
        text-align:center;
        width: 600px;
        height:500;
        border: solid;
        border-radius: 10px;
        margin-top: 100px;
        padding: 40px;
      "
    >
      <h4>
        Utzidazu kontatzen ze ederra den …1… Utzidazu kontatzen malko urdinen
        artean Utzidazu kontatzen ze …2… den jakitea Maiteko zaitudala
        itsasoaren beste aldean Utzidazu kontatzen …3… artean Utzidazu
        laztantzen hiru akorde hauetan Utzidazu kontatzen ze ederra den zu
        ikustea Utzidazu kontatzen Ze ederra izango den itzulera Elkarren …4…
        zabalera Zure fede guztiei eustea Zure bi malkoak …5… Utzidazu kontatzen
        behin ume zirela …6… zutela itsasoaren beste aldeaz Hegan egiteko …7…
        Bakean bizitzeko Ez dute besterik …8… Gaur gurekin …9… Ze ederra izango
        den itzulera Elkarren besoen zabalera Zure …10… guztiei eustea Zure bi
        malkoak …11… Ze ederra izango den itzulera Elkarren besoen …12… Zure
        fede guztiei eustea Zure bi malkoak
      </h4>
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        width: 900px;
        border: solid;
        border-radius: 10px;
        margin-top: 100px;
        padding: 40px;
      "
    >
      <p>
        baretzea 1. A) Bueltatzea B) Atertzea C) Itzultzea (erantzun zuzena) 2.
        A) Alferra B) Ederra (erantzun zuzena) C) Elderra 3. A) Pozarren B)
        Izarren (erantzun zuzena) C) Aztarren 4. A) Besoen (erantzun zuzena) B)
        Nengoen C) Ziroen 5. A) Baretzea (erantzun zuzena) B) Elkartea C)
        Sartzea 6. A) Gerrestu B) Antzeztu C) Ameztu (erantzun zuzena) 7. A)
        Besoak B) Hegoak (erantzun zuzena) C) Lumak 8. A) Nahi (erantzun zuzena)
        B) Gaur C) Bai 9. A) Agurtzeko B) Azaltzeko C) Dantzatzeko (erantzun
        zuzena) 10. A) Fede (erantzun zuzena) B) Xede C) Lege 11. A) Lasaitzea
        B) Baretzea (erantzun zuzena) C) Ibiltzea 12. A) Zabalera (erantzun
        zuzena) B) Pasaera C) Sarrera
      </p>
    </div>
  </div>
</ion-content>
<ion-footer class="foot"> </ion-footer>
