<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    Lara Izaguirre - AZALPENA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center">
    <div
      style="
        display: flex;
        justify-content: center;
        width: 700px;
        border: solid;
        border-radius: 10px;
        margin-top: 100px;
        padding: 40px;
      "
    >
      <h3>
        Ba ote dakizue nor den Lara Izagirre?
        Lara, Zornotzan jaiotako zuzendari eta gidoilaria da.<br><br>
        
        Zer nolako ikasketak egin behar dira zinema munduan aritzeko? Bai, Larak Ikus entzunezko ikasketak egin zituen Leioan eta horren ostean, New York-era joan zen film ikasketak aurrera eramateko. Amaitzeko, Katalunian gidoiak nola egiten ziren ikasi zuen.<br><br>
        
        Norbaitek ikusi du Lararen filmen bat? 2015ean, “Un Otoño sin Berlin” aurkeztu zuen Donostiako Zinemaldian. Bere bigarren film luzeena “Nora” da eta 2020an argitaratu zuen.<br>
      </h3>
    </div>
  </div>
</ion-content>
<ion-footer class="foot">
  <a href="../tabs/tab5-jokua"> <button id="jarraitu">JARRAITU</button></a>
</ion-footer>
