<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
  Udabarri dantza taldea
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center;width: 700px;border:solid; border-radius: 10px; margin-top:100px; padding:40px" >
      <h3>
        Zer da Udabarri? Udabarri, Zornotzako euskal dantza taldea da.
        Nortzuk sortu zuten? Jose Mari Agirrek, Tomas Zugazartazak eta Jesus Mari Emaldiak
        sortu zuten.
        
        Zuek euskal dantzak zer diren badakizue seguruenik… ba, Udabarri Dantza Taldearen
        oinarria hori da. Aldi berean, haien dantzarekin batera, erabilitako musika oso
        garrantzitsua da, eta Udabarrik musikari banda zabala izan du beti: txistulariak, gaitariak,
        perkusionistak, metalak…
        
        Ba al dakizue hogeita bost urteetan zehar ekitaldi askotan parte hartu duela udaberri
        dantza taldeak?
        
        Dantza gustatzen bazaizue, gogoratu Zornotzan euskal dantzak egiten dituzten talde bat
        dagoela!
      </h3>
    </div>
  </div>
</ion-content>
<ion-footer class="foot">
  <a href="../tabs/tab6-jokua"> <button id="jarraitu">JARRAITU</button></a>
</ion-footer>
